<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.title}}</title>
    {{template "head.html" .}} 
</head>
    <body>
        <div class="container">
      

       <div class="row">
        <h1>Welcome to IDX</h1>
        {{if .isLoggedIn}}
        Hello :{{.userName}}
        <br/>
        <nav class="nav">
             <a href="logout" class="nav-link">Logout</a>
             <a href="changepwd" class="nav-link">Change Password</a>
        </nav>
        
        {{else}}
        <nav class="nav">
        <a href="login" class="nav-link">Login</a><br/>
    </nav>
        {{end}}
    
    </div>
    <div class="row g-5">
        <div class="card p-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">About</h5>
            <p class="card-text">This is a oAuth2 Server created for demonstration purposes.</p>
            <nav class="nav">
            <a href=".well-known/openid-configuration" class="nav-link">OIDC well-known configuration</a>
        </nav>
          </div>
          </div>

    </div>
    <div class="row">
        <h5 class="card-title">Contact</h5>
        <p class="card-text">You can reach out to us at <a href="mailto:info@example.com">info@example.com</a>.</p>
    </div>
{{template "footer.html" .}}
</div>
    </body>
</html>