<!DOCTYPE html>
<html lang="en">

<head>   
    <title>Login</title>
    {{template "head.html" .}}
</head>

<body>
    <div class="container">
        <div clas="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/{{.tenant}}/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
              </nav>
        </div>
        <div class="row">
            <h1  class="card-title">Login</h1>
        </div>
        <div class="row">
        <form action="/{{.tenant}}/login" method="POST">
            <div class="form-group">
                <label for="username">UserName:</label>
                <input type="text" class="form-control" name="username" required
                    placeholder="Please enter your user name">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" required placeholder="Please enter your password">
            </div>
            <input type="hidden" name="redirect" value="{{.redirect}}"/>
            <button type="submit" class="btn btn-primary">Login</button>
            {{if .errMsg }}
            <div class="alert alert-danger" >{{.errMsg}}</div>
            {{end}}
        </form>
    </div>
    {{template "footer.html" .}}
</div>
</body>

</html>